---
import Logo from "@/components/Logo.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";

const { footer_menu, footer_quick_links } = menu;

// Function to replace {year} this from string to year
function replaceYear(text: string) {
  const year = new Date().getFullYear();

  return text.replace("{year}", year.toString());
}
---

<footer class="bg-light py-16 xl:py-28">
  <div class="container" data-aos="fade-up-sm">
    <div class="row gy-6 justify-between lg:g-4">
      <div class="sm:col-6 lg:col-4 lg:pe-16">
        <div class="mb-5">
          <Logo />
        </div>
        {
          config.params.footer_description && (
            <p
              class="mb-2.5 lg:mb-20"
              set:html={markdownify(config.params.footer_description)}
            />
          )
        }
        <Social source={social?.main} className="social-icons" />
      </div>
      {
        (
          <div class="sm:col-7 md:col-6 lg:col-4">
            {config.subscription &&
              config.subscription.enable &&
              config.subscription.title && (
                <>
                  {config.subscription.description && (
                    <h3
                      class="mb-4 text-xl font-normal text-text-dark"
                      set:html={markdownify(config.subscription.title)}
                    />
                  )}
                  {config.subscription.description && (
                    <p
                      class="mb-6"
                      set:html={markdownify(config.subscription.description)}
                    />
                  )}
                  <form
                    action={config.subscription.action}
                    method="post"
                    class="flex justify-between rounded-full bg-white px-3 py-2"
                  >
                    <input
                      type="email"
                      placeholder="Enter your email"
                      class="form-input w-full rounded-full !border-transparent bg-transparent py-2 pl-2 placeholder:!opacity-100 focus:outline-0"
                      required
                    />
                    <button
                      class="rounded-full bg-secondary px-4 py-1 font-medium transition hover:opacity-80 cursor-pointer"
                      type="submit"
                    >
                      Subscribe
                    </button>
                  </form>
                </>
              )}
            {config.params.copyright && (
              <div class="flex flex-col gap-4 items-center sm:items-end text-center sm:text-right">
                <div
                  class=""
                  set:html={markdownify(replaceYear(config.params.copyright))}
                />
                <div
                  class="flex justify-center sm:justify-end items-center gap-1"
                  data-aos="fade-up-sm"
                  data-aos-delay="200"
                >
                  <span class="font-medium text-slate-400"> Powered by</span>
                  <img
                    src="/images/emltech.png"
                    alt="eml tech logo"
                    height="32"
                    class="h-8"
                    width="auto"
                  />
                </div>
              </div>
            )}
          </div>
        )
      }
    </div>
  </div>
</footer>
