---
import { Image } from "astro:assets";
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const { title, subtitle, description, list } = (
  (await getEntry(
    "howItWorksSection",
    "how-it-works"
  )) as CollectionEntry<"howItWorksSection">
).data;
---

<section class="section">
  <div class="container">
    <div class="pb-16 md:pb-24 flex flex-col items-center justify-center">
      <div
        class="flex rounded-3xl overflow-hidden justify-stretch md:h-96 gap-1 flex-col md:flex-row ring-2 ring-offset-2 ring-slate-100"
      >
        <div
          class="flex-1 relative"
          data-aos="fade-left-sm"
          data-aos-delay="300"
        >
          <Image
            format="webp"
            class="flex-1 h-72 md:h-full object-cover"
            width={1200}
            height={1440}
            src="/images/factory.webp"
            alt="How it Works"
          />
          <div
            aria-hidden="true"
            class="absolute bottom-0 left-0 right-0 h-1/2 uppercase tracking-wide from-transparent to-slate-900/100 bg-gradient-to-b flex items-end justify-center p-6"
          >
            <span class="text-white text-2xl text-center font-semibold"
              >Manufacturer</span
            >
          </div>
        </div>
        <div class="flex-1 relative" data-aos="fade-up-sm" data-aos-delay="500">
          <Image
            data-aos="fade-up-sm"
            data-aos-delay="500"
            format="webp"
            class="flex-1 h-72 md:h-full object-cover"
            width={1200}
            height={1440}
            src="/images/retail.webp"
            alt="How it Works"
          />
          <div
            aria-hidden="true"
            class="absolute bottom-0 left-0 right-0 h-1/2 uppercase tracking-wide from-transparent to-slate-900/100 bg-gradient-to-b flex items-end justify-center p-6"
          >
            <span class="text-white text-2xl text-center font-semibold"
              >Retail</span
            >
          </div>
        </div>

        <div
          class="flex-1 relative"
          data-aos="fade-right-sm"
          data-aos-delay="700"
        >
          <Image
            data-aos="fade-right-sm"
            data-aos-delay="700"
            format="webp"
            class="flex-1 h-72 md:h-full object-cover"
            width={1200}
            height={1440}
            src="/images/port.webp"
            alt="How it Works"
          />
          <div
            aria-hidden="true"
            class="absolute bottom-0 left-0 right-0 h-1/2 uppercase tracking-wide from-transparent to-slate-900/100 bg-gradient-to-b flex items-end justify-center p-6"
          >
            <span class="text-white text-2xl text-center font-semibold"
              >Port</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto text-center lg:col-10" data-aos="fade-up-sm">
        {
          subtitle && (
            <p
              class="mb-2 text-tertiary font-medium"
              set:html={markdownify(subtitle)}
            />
          )
        }
        {title && <h2 class="mb-6" set:html={markdownify(title)} />}
        {
          description && (
            <p class="text-lg/[inherit]" set:html={markdownify(description)} />
          )
        }
      </div>
      <div class="col-12 pt-20">
        <div class="row g-4 justify-center">
          {
            list?.map((item, index) => (
              <div
                class="md:col-6 lg:col-4"
                data-aos="fade-up-sm"
                data-aos-delay={index * 100}
              >
                <div class="min-h-full rounded-xl bg-light px-6 py-12 text-center md:rounded-3xl">
                  {item.icon && (
                    <div class="mx-auto mb-3 flex h-12 w-12 items-center justify-center rounded-full bg-tertiary">
                      <ImageMod
                        class="h-6 w-6 object-cover"
                        src={item.icon}
                        alt={`icon related to ${item.title}`}
                      />
                    </div>
                  )}
                  {item.title && (
                    <h3 class="h5 mb-2" set:html={markdownify(item.title)} />
                  )}
                  {item.description && (
                    <p set:html={markdownify(item.description)} />
                  )}
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
